<!doctype html>
<title>Examen de développement Web</title>
<style>
  body {
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    color: #555;
  }

  h1,
  h2,
  h3,
  strong {
    color: #333;
  }

  .mt10 {
    margin-top: 10px;
  }

  .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    border: 1px solid;
    margin: 20px 20px 20px 0;
    width: 250px;
    max-width: 20em;
  }

  .title {
    border-bottom: 1px solid;
  }

  .card>* {
    padding: 10px;
  }

  table {
    margin: 20px 40px;
  }

  th,
  td {
    border: 1px solid;
    padding: 10px;
  }

  li {
    margin-bottom: 10px;
  }
</style>

{% if question2 == "max" %}
<style>
  .content-1 {
    display: none;
  }
</style>
{% else %}
<style>
  .content-2 {
    display: none;
  }
  ol {
    list-style-type: lower-alpha;
  }
</style>
{% endif %}

{% if question1 == "list" %}
<style>
  body {
    margin: 50px;
  }

  header {
    background-color: #555;
    padding: 10px;
    margin-bottom: 20px;
  }

  header * {
    color: white;
  }

  main {
    display: flex;
  }

  .introduction {
    min-width: 400px;
    width: 600px;
    margin-right: 50px;
    border: 1px dotted blue;
    padding: 15px;
    height: auto;
    align-self: flex-start;
  }

  .questions {
    flex-grow: 1;
  }
</style>
{% else %}
<style>
  body {
    margin: 0 auto;
    max-width: 50em;
  }

  h3 {
    border-bottom: 1px solid #555;
  }
</style>
{% endif %}
<header>
  <h1>Examen de développement Web</h1>
</header>
<main>
  <article class="introduction">
    <h2 class="content-1">Application "{{ title }}"</h2>
    <h3>Description de l'API <span class="content-2">"{{ title }}"</span></h3>
    <p>
    <div>URL: http://cabe0232.odns.fr/webdev-api/exam/api/{{ code }}</div>
    <ul>
      <li>GET: Renvoie un tableau d'objets JSON, chaque objet comporte les attributs "{{ columns[0] }}" (texte), "{{
        columns[1] }}" (nombre) et "{{ columns[2] }}" (nombre)</li>
      {% if question3 == "insert" %}
      <li>POST: Prends en paramètre un objet avec "{{ columns[0] }}" comme clé unique, et les nombres "{{ columns[1]
        }}" et "{{ columns[2] }}" (obligatoires). Cet objet sera créé côté serveur et ajouté au tableau renvoyé par
        l'API précédente.</li>
      {% else %}
      <li>PUT: Modifie les attributs "{{ columns[1] }}" et "{{ columns[2] }}" pour l'objet identifié par "{{
        columns[0] }}". La requête prends en paramètre un objet avec ces 3 attributs (obligatoires).</li>
      {% endif %}
      <li>Réponses de l'API: status=200 (OK), status=400 (erreur décrite dans la réponse), status=500 (erreur
        anormale, contacter l'enseignant)</li>
    </ul>
    </p>
    </section>
  </article>

  <article class="questions">
    <h3 class="content-1">Exercices</h3><h3 class="content-2">Questions</h3>
    <p>
    <ol>
      {% if question1 == 'list' %}
      <li>Appelez l'API GET et afficher ces données sous forme de liste de cartes avec ReactJS et Boostrap, de la même
        façon qu'en TD.
        <div class="mt10"><strong><i>{{ title }}</i></strong></div>

        <div class="list">
          <div class="card">
            <div class="title">{{ columns[0] }}: ...</div>
            <div>{{ columns[1] }}: ...</div>
            <div>{{ columns[2] }}: ...</div>
          </div>
          <div class="card">
            <div class="title">{{ columns[0] }}: ...</div>
            <div>{{ columns[1] }}: ...</div>
            <div>{{ columns[2] }}: ...</div>
          </div>
          <div class="card">
            <div class="title">{{ columns[0] }}: ...</div>
            <div>{{ columns[1] }}: ...</div>
            <div>{{ columns[2] }}: ...</div>
          </div>
        </div>
      </li>
      <li>
        Décomposer l'application comme ceci :
        <ul>
          <li>la liste principale est affichée par le composant &lt;App&gt;</li>
          <li>chaque carte est affichée par un composant &lt;Element&gt;</li>
        </ul>
      </li>
      {% else %}
      <li>Appelez l'API GET et afficher les données sous forme de &lt;table&gt; HTML avec ReactJS et Boostrap, de la
        même façon qu'en TD.
        <div class="mt10"><strong><i>{{ title }}</i></strong></div>
        <table>
          <thead>
            <tr>
              <th>{{ columns[0] }}</th>
              <th>{{ columns[1] }}</th>
              <th>{{ columns[2] }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li>
        Décomposer l'application comme ceci :
        <ul>
          <li>le tableau est affiché par le composant &lt;App&gt;</li>
          <li>chaque ligne est affichée par un composant &lt;Element&gt;</li>
        </ul>
      </li>
      {% endif %}
      {% if question2 == "max" %}
      <li>Ajouter un bouton "Select" dans chaque composant "Element"
      </li>
      <li>Quand on clique sur ce bouton, l'attribut "{{ columns[1] }}" de l'élement courant est sauvegardé comme étant la borne max de "{{ columns[1] }}"</li>
      <li>Afficher les autres éléments avec un fond bleu clair si l'attribut "{{ columns[1] }}" est inférieur ou égal à la borne max.
        Sinon laisser le fond blanc.
        Donc si on clique sur l'élément avec le plus grand "{{ columns[1] }}", tous les élements devraient être bleus.
        Si on clique sur l'élément avec le plus petit "{{ columns[1] }}", seul cet élement devrait être bleu.
      </li>
      {% else %}
      <li>Créer une fonction qui calcul la moyenne d'une liste de nombre.
       et appeler cette fonction pour calculer la moyenne nommée "mean" des attributs "{{ columns[2] }}"
      </li>
      <li>Dans les composants Element:
        <ul>
          <li>afficher un fond jaune si "{{ columns[2] }}" de l'élément courante est strictement supérieur à la moyenne "mean"</li>
          <li>afficher un fond vert clair si "{{ columns[2] }}" est inférieur ou égale à "mean"</li>
        </ul>
      </li>
      <li>Dans le composant App, au dessus de la liste, ajouter 3 boutons :
        <ul>
          <li>Trier par {{ columns[0] }}</li>
          <li>Trier par {{ columns[1] }}</li>
          <li>Trier par {{ columns[2] }}</li>
        </ul>
        A chaque clic, les éléments seront retriés selon le champ correspondant par ordre croissant.
      </li>
      {% endif %}
      {% if question3 == "insert" %}
      <li>Ajouter un bouton "Create" en dessous de la liste des cartes. Quand on clique dessus :
      </li>
      <li>Un formulaire apparaît avec 3 champs correspondant aux attributs "{{ columns[0] }}", "{{ columns[1] }}" et "{{ columns[2] }}"
      </li>
      <li>Le bouton "Create" est masqué</li>
      <li>Un bouton "Validate" apparaît : lorsque l'on clique sur celui-ci, une requête POST est envoyée à l'API REST pour créer un nouvel enregistrement.
      </li>
      <li>
        Un bouton "Cancel" permet d'annuler l'action du bouton "Create" (masquer le formulaire et afficher le bouton "Create")
      </li>
      <li>Attention : vous devez faire les contrôles suivants:
        <ul>
          <li>L'attribut "{{ columns[0] }}" est l'identifiant unique, donc l'utilisateur doit être averti s'il existe déjà.</li>
          <li>Les attributs "{{ columns[1] }}" et "{{ columns[2] }}" doivent être des nombres (entiers ou décimaux).
            Vous devez le signaler par un message d'erreur dans le cas contraire.</li>
        </ul>
      </li>
      <li>Si l'enregistrement est effectué avec succès (status=200), alors le nouvel enregistrement doit apparaître dans la liste, le formulaire doit être masqué et le bouton "Create" doit être de nouveau visible</li>
      <li>En cas d'erreur (status!=200), vous devez afficher celle-ci à l'utilisateur</li>
      {% else %}
      <li>Ajouter un bouton "Modify" dans chaque composant Element
      </li>
      <li>Quand on clique sur ce bouton, les attributs "{{ columns[1] }}" et "{{ columns[2] }}" deviennent modifiables par des champs input.
      </li>
      <li>Le bouton "Modify" est remplacé par un bouton "Validate". Lorsque l'on clique sur celui-ci, une requête PUT est envoyée à l'API REST pour modifier l'enregistrement.
      </li>
      <li>
        Un bouton "Cancel" permet d'annuler l'action du bouton "Modify" (masquer le formulaire et afficher le bouton "Modify")
      </li>
      <li>Attention : les attributs "{{ columns[1] }}" et "{{ columns[2] }}" doivent être des nombres (entiers ou décimaux). Vous devez afficher un message d'erreur si ce n'est pas le cas.
      </li>
      <li>Si la modification s'est effectuée avec succès, vous devez le signaler par un message à l'utilisateur.
      </li>
      {% endif %}
    </ol>
    </p>
  </article>
</main>